<div class="footer">
	<div class="footer-left">
		<ul>
			<li><a href="#">Privacy Policy</a>|</li>
			<li><a href="#">Terms of Use</a>|</li>
			<li><a href="mail.html">Contact Us</a></li>
		</ul>
		<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
	</div>
	<div class="footer-right">
		<ul class="social-nav model-3">
			<li><a href="#" class="icon icon-border facebook"></a></li>
			<li><a href="#" class="icon icon-border twitter"></a></li>
			 <li><a href="#" class="icon icon-border googleplus"></a></li>
			 <li><a href="#" class="icon icon-border github"></a></li>
			 <li><a href="#" class="icon icon-border rss"></a></li>
		</ul>
	</div>
	<div class="clearfix"> </div>
</div>
		