<!DOCTYPE html>
<html>

	<head>
		<meta charset=utf-8>
		<meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
		<meta name=screen-orientation content=portrait>
		<meta name=apple-mobile-web-app-capable content=yes>
		<meta name=format-detection content="telephone=no">
		<meta name=full-screen content=yes>
		<meta name=x5-fullscreen content=true>
		<title>你画我猜</title>
		<link rel=stylesheet href=static/mui/css/mui.min.css>
		<script type=text/javascript src=/socket.io/socket.io.js charset=utf-8></script>
		<link href=/static/css/app.854f5057541b4aeee2176f9ce68675a4.css rel=stylesheet>
	</head>

	<body>
		<div id=app></div>
		<script type=text/javascript src=/static/js/manifest.77ebfe8248a4a309b212.js></script>
		<script type=text/javascript src=/static/js/vendor.18d85a3c25ecc798de96.js></script>
		<script type=text/javascript src=/static/js/app.cdf58f6060610e1c23b4.js></script>
	</body>

</html>